<% if customer_signed_in? == false %>
  <div class="main">
    <div class="main-top">
      <%= image_tag "cake2.jpeg", class: "main-top-image" %>
      <p class="main-top-text">ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</p>
    </div>
  </div>
<% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="mt-4">
        <%= render 'public/items/genre',genres: @genres %>
      </div>
    </div>
    <div class="col-10 mt-4">
      <div class="slider">
        <% @slide_items.each do |item|%>
          <%= link_to image_tag(item.get_image(800, 800)), item_path(item), class: "slide" %>
        <% end %>
      </div>
      <div class="my-5">
        <h2 class="title title-text text-center">新着商品</h2>
        <%= render "public/items/index", items: @items %>
        <div class="text-center index-link">
          <%= link_to "商品一覧",items_path, class: "btn btn-template-index light-shadow py-3",style: "width: 60%"%>
        </div>
      </div>
    </div>
  </div>
</div>