<div class="container py-5 text-secondary">
  <div class="row">
    <div class="col-lg-3">
      <h5 class="border-bottom">ジャンル一覧・追加</h5>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-lg-10">
      <%= form_with model: [:admin, @genre] do |f| %>
      <div class="form-group d-flex">
       <%= f.label :name, "ジャンル名" %>
       <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control col-lg-3 mx-2" %>
       <%= f.submit "新規登録", class: "btn btn-outline-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <table class="table text-secondary table-hover">
        <thead class="table-secondary">
          <tr>
            <th class="ml-3">
              ジャンル
            </th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= genre.name %>
            </td>
            <td>
              <%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-outline-secondary" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
