<h2>ショッピングカート</h2>
<div><%= link_to 'カートを空にする', delete_all_cart_items_path, class: 'btn btn-sm btn-danger' %></div>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% current_customer.cart_items.each do |cart_item| %>
      <tr>
        <td>
          <%= image_tag cart_item.item.get_image(50,75) %>
          <%= cart_item.item.name %>
        </td>
        <!--税込み価格10%modelに記載-->
        <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
        <td>
          <%= form_with model: cart_item, local:true do |f| %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit '変更' %>
          <% end %>
        </td>
        <td><%= (cart_item.item.with_tax_price * cart_item.amount).to_s(:delimited) %></td>
        <td><%= link_to '削除する', cart_item_path(cart_item), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div></div>