<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-4 mb-3 mx-5"><h4 class="my-auto">注文情報確認</h4></div>
      <div class="row justify-content-between">
        <table class="table col-9">
          <tbody>
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価(税込み)</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>
            <% current_customer.cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= image_tag cart_item.item.get_image(50,75) %>
                  <%= cart_item.item.name %>
                </td>
                <!--税込み価格10%modelに記載-->
                <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
                <td><%= cart_item.amount %></td>
                <td><%= cart_item.subtotal.to_s(:delimited) %></td>
                <% @all_with_tax_price +=  cart_item.subtotal %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <table class="table col-2">
          <tbody>
            <tr style="height: 50px">
              <td>送料</td>
              <td><%= @order.default_sipping_cost %></td>
            </tr>
            <tr style="height: 50px">
              <td>商品合計</td>
              <td><%= @all_with_tax_price.to_s(:delimited) %></td>
            </tr>
            <tr style="height: 50px">
              <td>請求金額</td>
              <td><%= (@all_with_tax_price + @order.default_sipping_cost).to_s(:delimited) %></td>
            </tr>
            <tr></tr>
          </tbody>
        </table>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th style="width: 120px"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>支払い方法</strong></td>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <td><strong>お届け先</strong></td>
              <td>
                〒<%= @order.postal_code + ' ' + @order.address %></br>
                <%= @order.name %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mx-auto">
          <%= form_with model: @order do |f| %>
            <%= f.hidden_field :customer_id, value: current_customer.id %>
            <%= f.hidden_field :payment_method, value: @order.payment_method %>
            <%= f.hidden_field :postal_code, value: @order.postal_code %>
            <%= f.hidden_field :address, value: @order.address %>
            <%= f.hidden_field :name, value: @order.name %>
            <%= f.hidden_field :shipping_cost, value: @order.default_sipping_cost %>
            <%= f.hidden_field :total_payment, value: @all_with_tax_price + @order.default_sipping_cost %>
            <%= f.submit '注文を確定する', class: 'btn btn-md btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>