<div class="container">
  <div class="row">
    <div class="col-10 mt-4 mb-3 mx-5"><h4 class="my-auto">注文履歴詳細</h4></div>
      <div class="col-md-12 col-lg-7">
        <p><strong>注文情報</strong></p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="table-secondary" style="width: 25%">注文日</td>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td class="table-secondary align-middle">配送先</td>
              <td>
                〒<%= @order.postal_code %></br>
                <%= @order.address %></br>
                <%= @order.name %>
              </td>
            </tr>
            <tr>
              <td class="table-secondary">支払い方法</td>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <td class="table-secondary">ステータス</td>
              <td><%= @order.status_i18n %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-lg-3 pl-lg-5">
        <p><strong>請求情報</strong></p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="table-secondary">合計金額</td>
              <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="table-secondary">配送料</td>
              <td><%= @order.shipping_cost.to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="table-secondary"><strong>ご請求額</strong></td>
              <td><%= @order.total_payment.to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-lg-8">
        <p><strong>注文内容</strong></p>
        <table class="table table-bordered">
          <thead>
            <tr class="table-secondary">
              <th>商品</th>
              <th>単価（税込）</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_details.each do |detail| %>
              <tr>
                <td><%= detail.item.name %></td>
                <td><%= detail.price.to_s(:delimited) %></td>
                <td><%= detail.amount %></td>
                <td><%= (detail.price * detail.amount).to_s(:delimited) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

  </div>
</div>
